body {
  text-align: center;
}
#pizza-form {
  margin: auto;
}

#pizza-form input, label{
  padding: .5em;
}

/* .receipt {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: auto;
} */

ul {
  list-style: none;
  margin-left: -1.8em;
}